.table_App {
  padding: 50px;
  color: white;
  position: relative;
}
.Component-horizontalScrollContainer-16 {
  z-index: 0;
}
.modal-popup {
  display: flex;
  justify-content: end;
}
.modal-popup button {
  border: none;
  width: max-content;
  padding: 10px;
  background: #2f2f2f;
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}

.modal-popup button:hover {
  background-color: rgb(77, 7, 7);
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgb(0 0 0 / 75%) !important;
}

.MTableToolbar-root-9 {
  padding-right: 8px;
  background-color: #352d2d;
  color: white;
}
.MuiInputBase-root {
  color: white !important;
}
.MuiTable-root {
  background-color: #3f3f3e;
}
span.material-icons.MuiIcon-root {
  color: white;
}
.ReactModal__Content.ReactModal__Content--after-open {
  background: #443f3f !important;
}

.table_form label {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.table_form input {
  width: 100%;
  height: 30px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid grey;
  margin: 3px 0px;
}
.table_form input:focus {
  outline: none;
}
.modal_btn_bottom {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.modal_btn_bottom button {
  border: none;
  padding: 10px;
  color: white;
  background-color: #2f241f;
  cursor: pointer;
  transition: all 0.5s linear;
}
.modal_btn_bottom button:hover {
  background-color: #352d2d;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSizeSmall.MuiButton-sizeSmall.Mui-disabled.Mui-disabled {
  color: wheat;
}
span.MuiButtonBase-root.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white;
}
td.MuiTableCell-root.MuiTableCell-body {
  color: white;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #30111c !important;
}

.MuiSelect-icon{
 color: white !important;
}